* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body, html {
  width: 100%;
  background-color: #e7cc9f;
}

body {
  padding-top: 120px;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 5px;
}

#content.container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: 10px auto 0 auto;
  padding: 5px 5px 0px 5px;
}

.banner {
  display: block;
  margin: 0;
  padding: 0;
  height: 120px;
  width: 100%;
  background-color: #156d9f;
  line-height: 2.9rem;
}

.banner img {
  width: 100px;
}

.banner #logo-lg {
  display: inline-block;
  width: 30%;
  height: 100px;
  padding-top: 10px;
  vertical-align: text-bottom;
}

.banner #logo2 {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
  top: 7px;
  vertical-align: text-bottom;
}

.banner.top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

nav.nav {
  display: inline-block;
  background-color: #ff8f47;
  float: right;
  height: 120px;
  width: 40%;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
}

nav.nav ul {
  display: inline-block;
  position: relative;
  top: 43px;
  margin: 0 auto;
}

nav.nav li {
  display: inline-block;
}

nav.nav a {
  color: white;
  display: block;
  padding: 5px 10px;
}

main {
  margin: 20px auto;
  padding: 10px 20px;
  width: 80%;
  height: 100%;
  border-radius: 10px;
  background-color: #e07d7d;
}

main * {
  border-radius: 10px;
}

main section.container {
  background-color: #70d6fb;
  padding: 20px 30px;
  line-height: 1.5em;
}

#main-slideshow {
  background-color: grey;
  display: inline-block;
  height: 500px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

#main-slideshow img {
  display: inline-block;
  position: relative;
  background-color: #d2942a;
  margin: 10px 0;
  height: 480px;
  width: 90%;
}

#main-footer {
  height: 120px;
  text-align: center;
  line-height: -50px;
}

#main-footer .container {
  position: relative;
  overflow: hidden;
  top: 60px;
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
}
