* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body html {
    margin: 0;
    padding: 0;
    border-radius:20px;
    height: 100vh;
    width: 100%;
}

.grid-container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1.5fr ;
    grid-template-rows: 150px minmax(200px, 1fr) 100px;
    grid-row-gap: 5px;
    grid-template-areas:
        "header header nav"
        "main main main"
        "footer footer footer";
}

.container {
}

header {
    display: inline;
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

img.align-left {
    margin-right: 10px;
    float: left;
}

img.header{
    display: inline;
    width: 100px;
    margin: auto;
}

#logo-img {
    padding-bottom: 20wpx;
    font-size: 18px;
    display:inline;
    float: left;
}

 .nav-item {
    display: inline;

}

#logo {
    display: inline;

}
