<head>
	<link rel="stylesheet" href="/home/arch/Documents/layout.css">
	<!--link rel="stylesheet" href="/home/arch/Documents/jcpmaintenance/assets/css/bootstrap.css"--> 
</head>
<body>
	<header>
		<a href="#"><img src="{% static 'img/interface/logo.png %}" alt="J&amp;C Property Maintenance" title="J&amp;C Property Maintanence"></a>
	</header>
	<nav> <!--class="container"-->
		<ul class="nav nav-items">
			<li><a href=/Home>Home</a></li>
			<li><a href=/About>About Us</a></li>
			<li><a href=/Services>Services</a></li>
			<li><a href=/Gallery>Gallery</a></li>
			<li><a href=/Contact>Contact Us</a></li>
		</ul>
	</nav>
	
	<!-- slideshow -->
	<div class="slideshow-container"> <!--reserves space for slideshow on page -->
		<div class="slides fade">
			<div class="number-slide">The Number the slide is out of group</div> <!--includes image and styling in container-->
			<img src="path/to/image", style="width:100%">
			<div class="slide-quote">Quote for picture</div>
		</div>
		<!--reuse this code to add more pictures-->
		
		<div class=
	</div>
	
	
	<main class="container">
		<article class="content">
		<h2 class="title">Either quote or title of page</h2>
		<p>Content</p>
		</article>
		</div>
	</main>
	
</body>
