* {
    border: solid 1px rgba(110,133,156,0.15);
    border-radius: 0.3em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body, html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
}

.header {
    background-color: rgb(59, 118, 166);
}

.nav {
    background-color: rgb(217, 159, 73);
    margin:
}

.content {
    background-color: rgb(180, 61, 136);

}

footer {
    background-color: rgb(61, 28, 143);
}

.nav-item > a {
    font-size: 24px;
    color: inherit;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    background-color: green;
 /*move to other file*/

}

.nav-item {
    padding-left: 45px;
}

.nav-menu > .nav-item {
    vertical-align: center;
}
#logo2 {
    font-size: 20px;
}

#logo-img {
    vertical-align: middle;
}

.logo {

}
